@media screen and (max-width: 320px){
	.container{
		max-width: 320px;
	}
}

@media screen and (min-width: 321px){

}

@media screen and (min-width: 321px), screen (max-width: 639px){
	.container{
		max-width: 320px;
	}
}

@media screen and (min-width: 640px), screen (max-width: 77px){
	.container{
		max-width: 640px;
	}
}

@media screen and (min-width: 768px){
	.container{
		max-width: 768px;
	}
	.container header{
		width: 640px;
	}
}