.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-size: 640px 912px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; }

header {
  padding: 1.8em;
  padding-bottom: 1.2em; }
  header #icon {
    position: relative;
    display: inline-block;
    height: 203px; }
    header #icon .mask {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 203px;
      height: 203px;
      background: url(../img/mask175.png) 0 0 no-repeat;
      background-size: 201px 201px; }
  header #info {
    float: left;
    padding-left: 35px; }
    header #info #title {
      display: inline-block;
      font-size: 35px;
      width: auto;
      max-width: 280px;
      max-height: 100px; }
    header #info .ratings {
      border: solid 1px #848484;
      font-size: 18px;
      color: #848484;
      padding: 1px; }
      header #info .ratings:after {
        content: "+"; }
    header #info #page-link {
      font-size: 28px;
      padding-top: 0.5em; }
    header #info #rate {
      display: inline-block; }
  header nav.main {
    padding-top: 28px;
    width: 100%; }
    header nav.main ul {
      display: table;
      border: 2px #848484 solid;
      border-radius: 6px; }
      header nav.main ul li {
        display: table-cell;
        width: 1%;
        font-size: 26px;
        text-align: center;
        padding: 0.5em 0 0.6em 0;
        color: #848484;
        border-left: solid 2px #848484; }
        header nav.main ul li a {
          width: 100%;
          color: #848484;
          text-decoration: none; }
          header nav.main ul li a:visited {
            color: #848484; }
          header nav.main ul li a:hover {
            color: #848484; }
          header nav.main ul li a:active {
            color: #848484; }
        header nav.main ul li.active {
          background: #848484; }
          header nav.main ul li.active a {
            color: #fff; }
            header nav.main ul li.active a:visited {
              color: #fff; }
            header nav.main ul li.active a:hover {
              color: #fff; }
            header nav.main ul li.active a:active {
              color: #fff; }
        header nav.main ul li.first {
          border-left: none; }

section#content {
  background: #f8f8f8;
  border-top: 1px solid #848484; }
  section#content #slider {
    display: block;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll; }
    section#content #slider .images {
      position: relative;
      white-space: nowrap; }
      section#content #slider .images img {
        display: inline-block;
        margin: 20px 20px; }
    section#content #slider::-webkit-scrollbar {
      display: none; }
    section#content #slider::-webkit-scrollbar-track {
      display: none; }
    section#content #slider::-webkit-scrollbar-thumb {
      display: none; }

section#details {
  font-family: helvetica; }
  section#details > * {
    border-top: 1px solid #c6c6c6;
    margin: 0 20px; }
  section#details aside h2, section#details aside p, section#details aside ul {
    padding: 0.5em 0; }
  section#details aside ul {
    list-style: none;
    display: table; }
    section#details aside ul li {
      display: table-row;
      text-align: right; }
      section#details aside ul li p {
        display: table-cell;
        color: #c6c6c6; }
      section#details aside ul li span {
        text-align: left;
        display: table-cell;
        padding-left: 10px; }

.clear {
  clear: both; }

.left {
  float: left; }

.button-small {
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px; }

.button {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  color: #2087fc;
  text-align: center;
  background: transparent;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #2087fc;
  -webkit-appearance: none;
  float: right; }

.rating {
  margin-top: 55px;
  font-size: 30px;
  overflow: hidden;
  text-align: left; }
  .rating input {
    float: right;
    opacity: 0;
    position: absolute; }
  .rating a,
  .rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s; }
  .rating label:hover ~ label,
  .rating input:focus ~ label,
  .rating label:hover,
  .rating a:hover,
  .rating a:hover ~ a,
  .rating a:focus,
  .rating a:focus ~ a {
    color: orange;
    cursor: pointer; }

.rating2 {
  direction: rtl; }

.rating2 a {
  float: none; }
